<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ITEA</display-name>
  <welcome-file-list>
    <welcome-file>components/Home</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/DataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Messages</display-name>
    <servlet-name>Messages</servlet-name>
    <servlet-class>components.Messages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messages</servlet-name>
    <url-pattern>/components/Messages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseList</display-name>
    <servlet-name>CourseList</servlet-name>
    <servlet-class>components.CourseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseList</servlet-name>
    <url-pattern>/components/CourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchList</display-name>
    <servlet-name>BranchList</servlet-name>
    <servlet-class>components.BranchList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchList</servlet-name>
    <url-pattern>/components/BranchList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassList</display-name>
    <servlet-name>ClassList</servlet-name>
    <servlet-class>components.ClassList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassList</servlet-name>
    <url-pattern>/components/ClassList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentList</display-name>
    <servlet-name>StudentList</servlet-name>
    <servlet-class>components.StudentList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentList</servlet-name>
    <url-pattern>/components/StudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyList</display-name>
    <servlet-name>FacultyList</servlet-name>
    <servlet-class>components.FacultyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyList</servlet-name>
    <url-pattern>/components/FacultyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRecords</display-name>
    <servlet-name>StudentRecords</servlet-name>
    <servlet-class>admin.StudentRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRecords</servlet-name>
    <url-pattern>/admin/StudentRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyRecords</display-name>
    <servlet-name>FacultyRecords</servlet-name>
    <servlet-class>admin.FacultyRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyRecords</servlet-name>
    <url-pattern>/admin/FacultyRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseRecords</display-name>
    <servlet-name>CourseRecords</servlet-name>
    <servlet-class>admin.CourseRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseRecords</servlet-name>
    <url-pattern>/admin/CourseRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchRecords</display-name>
    <servlet-name>BranchRecords</servlet-name>
    <servlet-class>admin.BranchRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchRecords</servlet-name>
    <url-pattern>/admin/BranchRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassRecords</display-name>
    <servlet-name>ClassRecords</servlet-name>
    <servlet-class>admin.ClassRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassRecords</servlet-name>
    <url-pattern>/admin/ClassRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExaminationAdmin</display-name>
    <servlet-name>ExaminationAdmin</servlet-name>
    <servlet-class>admin.ExaminationAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExaminationAdmin</servlet-name>
    <url-pattern>/admin/ExaminationAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExaminationStudent</display-name>
    <servlet-name>ExaminationStudent</servlet-name>
    <servlet-class>student.ExaminationStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExaminationStudent</servlet-name>
    <url-pattern>/student/ExaminationStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectList</display-name>
    <servlet-name>SubjectList</servlet-name>
    <servlet-class>components.SubjectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectList</servlet-name>
    <url-pattern>/components/SubjectList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attendance</display-name>
    <servlet-name>Attendance</servlet-name>
    <servlet-class>faculty.Attendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance</servlet-name>
    <url-pattern>/faculty/Attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SlotList</display-name>
    <servlet-name>SlotList</servlet-name>
    <servlet-class>components.SlotList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SlotList</servlet-name>
    <url-pattern>/components/SlotList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>components.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/components/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CLS</display-name>
    <servlet-name>CLS</servlet-name>
    <servlet-class>components.CLS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLS</servlet-name>
    <url-pattern>/components/CLS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>components.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/components/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>components.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/components/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageDatabase</display-name>
    <servlet-name>ManageDatabase</servlet-name>
    <servlet-class>admin.ManageDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageDatabase</servlet-name>
    <url-pattern>/admin/ManageDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAccount</display-name>
    <servlet-name>ManageAccount</servlet-name>
    <servlet-class>components.ManageAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAccount</servlet-name>
    <url-pattern>/components/ManageAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectRecords</display-name>
    <servlet-name>SubjectRecords</servlet-name>
    <servlet-class>admin.SubjectRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectRecords</servlet-name>
    <url-pattern>/admin/SubjectRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LabList</display-name>
    <servlet-name>LabList</servlet-name>
    <servlet-class>components.LabList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabList</servlet-name>
    <url-pattern>/components/LabList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfrastructureRecords</display-name>
    <servlet-name>InfrastructureRecords</servlet-name>
    <servlet-class>admin.InfrastructureRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfrastructureRecords</servlet-name>
    <url-pattern>/admin/InfrastructureRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Preferences</display-name>
    <servlet-name>Preferences</servlet-name>
    <servlet-class>faculty.Preferences</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Preferences</servlet-name>
    <url-pattern>/faculty/Preferences</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageLectures</display-name>
    <servlet-name>ManageLectures</servlet-name>
    <servlet-class>faculty.ManageLectures</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageLectures</servlet-name>
    <url-pattern>/faculty/ManageLectures</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeTableAdmin</display-name>
    <servlet-name>TimeTableAdmin</servlet-name>
    <servlet-class>hod.TimeTableAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTableAdmin</servlet-name>
    <url-pattern>/hod/TimeTableAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassListTimeTable</display-name>
    <servlet-name>ClassListTimeTable</servlet-name>
    <servlet-class>hod.ClassListTimeTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassListTimeTable</servlet-name>
    <url-pattern>/hod/ClassListTimeTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfraList</display-name>
    <servlet-name>InfraList</servlet-name>
    <servlet-class>components.InfraList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfraList</servlet-name>
    <url-pattern>/components/InfraList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimePreferences</display-name>
    <servlet-name>TimePreferences</servlet-name>
    <servlet-class>components.TimePreferences</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimePreferences</servlet-name>
    <url-pattern>/components/TimePreferences</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SemList</display-name>
    <servlet-name>SemList</servlet-name>
    <servlet-class>components.SemList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SemList</servlet-name>
    <url-pattern>/components/SemList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transcripts</display-name>
    <servlet-name>Transcripts</servlet-name>
    <servlet-class>student.Transcripts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transcripts</servlet-name>
    <url-pattern>/student/Transcripts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>faculty.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/faculty/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadList</display-name>
    <servlet-name>DownloadList</servlet-name>
    <servlet-class>student.DownloadList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadList</servlet-name>
    <url-pattern>/student/DownloadList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSubList</display-name>
    <servlet-name>StudentSubList</servlet-name>
    <servlet-class>components.StudentSubList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSubList</servlet-name>
    <url-pattern>/components/StudentSubList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload_Att</display-name>
    <servlet-name>Upload_Att</servlet-name>
    <servlet-class>faculty.Upload_Att</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload_Att</servlet-name>
    <url-pattern>/faculty/Upload_Att</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultySubList</display-name>
    <servlet-name>FacultySubList</servlet-name>
    <servlet-class>components.FacultySubList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultySubList</servlet-name>
    <url-pattern>/components/FacultySubList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetCourse</display-name>
    <servlet-name>ResetCourse</servlet-name>
    <servlet-class>dean.ResetCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetCourse</servlet-name>
    <url-pattern>/dean/ResetCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Administration</display-name>
    <servlet-name>Administration</servlet-name>
    <servlet-class>dean.Administration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/dean/Administration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reports</display-name>
    <servlet-name>Reports</servlet-name>
    <servlet-class>Reports.Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports</servlet-name>
    <url-pattern>/Reports/Reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchWise</display-name>
    <servlet-name>BranchWise</servlet-name>
    <servlet-class>Reports.BranchWise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchWise</servlet-name>
    <url-pattern>/Reports/BranchWise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Daily</display-name>
    <servlet-name>Daily</servlet-name>
    <servlet-class>Reports.Daily</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Daily</servlet-name>
    <url-pattern>/Reports/Daily</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseWise</display-name>
    <servlet-name>CourseWise</servlet-name>
    <servlet-class>Reports.CourseWise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseWise</servlet-name>
    <url-pattern>/Reports/CourseWise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultersList</display-name>
    <servlet-name>DefaultersList</servlet-name>
    <servlet-class>Reports.DefaultersList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultersList</servlet-name>
    <url-pattern>/Reports/DefaultersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Performance</display-name>
    <servlet-name>Performance</servlet-name>
    <servlet-class>Reports.Performance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Performance</servlet-name>
    <url-pattern>/Reports/Performance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeTableView</display-name>
    <servlet-name>TimeTableView</servlet-name>
    <servlet-class>student.TimeTableView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTableView</servlet-name>
    <url-pattern>/student/TimeTableView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeTablePersonal</display-name>
    <servlet-name>TimeTablePersonal</servlet-name>
    <servlet-class>faculty.TimeTablePersonal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTablePersonal</servlet-name>
    <url-pattern>/faculty/TimeTablePersonal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassSem</display-name>
    <servlet-name>ClassSem</servlet-name>
    <servlet-class>components.ClassSem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassSem</servlet-name>
    <url-pattern>/components/ClassSem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterMarks</display-name>
    <servlet-name>EnterMarks</servlet-name>
    <servlet-class>admin.EnterMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterMarks</servlet-name>
    <url-pattern>/admin/EnterMarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfraGraph</display-name>
    <servlet-name>InfraGraph</servlet-name>
    <servlet-class>Reports.InfraGraph</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfraGraph</servlet-name>
    <url-pattern>/Reports/InfraGraph</url-pattern>
  </servlet-mapping>
</web-app>